@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al restaurante de hamburguesas</h1>

    @section HacerPedido {
    <a style="margin-left: 45%; margin-top:7%" asp-controller="Pedido" asp-action="HacerPedido" class="btn btn-primary">Hacer Pedido</a>
    <a style="margin-left: 45%; margin-top:9%" asp-controller="Map" asp-action="Index" class="btn btn-primary">Mapa</a>
    }




    
   
</div>
